@page "/movies"
@inject IMovieService MovieService
<h3>Movies</h3>
@if(movieModels is null)
{ 
    <div class="spinner-border text-primary" role="status">
        
    </div>
}
else
{ 
    @foreach(var movie in movieModels)
    { 
        <div class="col col-lg-6 border border-1 m-1 p-1">
            <p>@movie.Title</p>
        </div>
    }
}
@code {      
    private IEnumerable<MovieModel> movieModels;
    protected override async Task OnInitializedAsync()
    {
        var result = await MovieService.GetAllAsync();
        if(result.IsSuccess)
        {
            movieModels = result.Data.Select(m => new MovieModel
            {
                Title = m.Title,
                Image = m.Image,
                Id = m.Id,
            });
        }
    }
}